.header {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
}

.logo-container {
  display: flex;
  background-color: rgb(159, 219, 199);
}

.logo {
  width: 100px;
  object-fit: contain;
}

.nav-items {
  background-color: bisque;
  font-size: 24px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
  padding: 0px 10px;
}
.nav-items > ul > li {
  padding: 20px;
}
/* login logout */
.login{
  padding: 0px 20px;
  cursor: pointer;
}


/* body */
.body {
  padding: 30px;
}

.filter{
  display: flex;
}

.search {
  
  
 
}


.filter-btn{
  padding: 5px;
  margin: 10px;
  cursor: pointer;
}
.shimmer-container{
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card{
  width: 200px;
  height: 410px;
  background-color: rgb(235, 230, 225);
  padding: 5px;
  border-radius: 1%;
  margin: 5px;
}


.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  width: 200px;
  background-color: rgb(235, 230, 225);
  padding: 5px;
  border-radius: 1%;
  margin: 5px;
}

.res-card:hover {
  cursor: pointer;
  border: rgb(244, 243, 243) solid 1px;
  box-shadow: 5px 5px rgb(202, 207, 212);
}

.res-logo {
  width: 95%;
  height: 150px;
  object-fit: fill;
  padding: 5px;
  border-radius: 15px;
}

.restro-link{
  color: black;
  text-decoration: none;
}


.user-card{
  padding: 10px;
  border: 1px solid black;
}